<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="/static/assets/images/logo.webp" type="image/x-icon">

    <title>Attuality Store</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
        <div class="d-flex justify-content-center align-items-center text-center announcements-container">
            <div class="announcements owl-carousel d-flex">
                <p>
                    <span class="text-danger">SPEDIZIONE GRATUITA <em>|</em> PAGAMENTO ALLA CONSEGNA</span>
                </p>
                <p>
                    <span class="text-black">SCOPRI <em>|</em> <a class="announcement-link" href="#">NUOVI ARRIVI</a></span>
                </p>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="d-flex flex-column container-fluid">
                <div class="navbar-brand d-flex justify-content-between align-items-center" href="index.html">
                    <div class="social-icons d-flex justify-content-center">
                        <a href="https://www.facebook.com/Attuality.store" target="_blank">
                            <i class="fa fa-facebook" style="color: #fff;"></i>
                        </a>
                        <a href="https://www.instagram.com/attuality.store/" target="_blank">
                            <i class="fa fa-instagram" style="color: #fff;"></i>
                        </a>
                        <a href="https://www.tiktok.com/@attuality.store?lang=it-IT" target="_blank">
                            <i class="fab fa-tiktok" style="color: #fff;"></i>
                        </a>
                    </div>
                    <img src="/static/assets/images/logo-white-transparent.png" alt="Attuliaty Store Logo"
                        class="img-fluid logo">
                    <div class="top-right-nav d-flex align-items-center">
                        <div class="search-box">
                            <i class="fa fa-search text-white"></i>
                            <input type="text" name="search" id="search" placeholder="CERCA...">
                        </div>

                        <div class="d-flex align-items-start">
                            <i class="fa fa-heart text-white"></i>
                            <img src="/static/assets/images/shopping-bag.png" alt="Shopping Cart" width="22" height="22" class="d-inline ml-1 mb-1">
                            <img src="/static/assets/images/italy.png" alt="Italy flag - translate" width="18" height="18" class="d-inline ml-1">
                        </div>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="uomoDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABBIGLIAMENTO UOMO
                            </a>

                            <div class="dropdown-menu" aria-labelledby="uomoDropdown">
                                <a href="#" class="dropdown-item">Giacche</a>
                                <a href="#" class="dropdown-item">Felpe con cappuccio</a>
                                <a href="#" class="dropdown-item">Felpe</a>
                                <a href="#" class="dropdown-item">Camicie</a>
                                <a href="#" class="dropdown-item">Polo</a>
                                <a href="#" class="dropdown-item">T-shirt</a>
                                <a href="#" class="dropdown-item">Jeans</a>
                                <a href="#" class="dropdown-item">Pantaloni</a>
                                <a href="#" class="dropdown-item">Bermuda</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accessoryDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ACCESSORI
                            </a>

                            <div class="dropdown-menu" aria-labelledby="accessoryDropdown">
                                <a href="#" class="dropdown-item">Portafogli e Piccola Pelletteria</a>
                                <a href="#" class="dropdown-item">Costumi da Bagno</a>
                                <a href="#" class="dropdown-item">Ciabatte</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="brandDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                BRAND
                            </a>

                            <div class="dropdown-menu" aria-labelledby="brandDropdown">
                                <a class="dropdown-item" href="#brands">Versace</a>
                                <a class="dropdown-item" href="#brands">Fendi</a>
                                <a class="dropdown-item" href="#brands">Balmain</a>
                                <a class="dropdown-item" href="#brands">Dsquared2</a>
                                <a class="dropdown-item" href="#brands">Valentino</a>
                                <a class="dropdown-item" href="#brands">Philipp Plein</a>
                                <a class="dropdown-item" href="#brands">Palm Angels</a>
                                <a class="dropdown-item" href="#brands">Marcelo Burlon</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <footer id="dk-footer" class="dk-footer">
        <div class="container-lg">
            <div class="row">

                <div class="col-md-2">
                    <div class="footer-widget footer-left-widget d-flex flex-column">
                        <h4 class="footer-header">Social</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/Attuality.store">Facebook</a></li>
                            <li><a href="https://www.instagram.com/attuality.store/">Instagram</a></li>
                            <li><a href="https://www.tiktok.com/@attuality.store?lang=it-IT">Tiktok</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="footer-widget footer-left-widget">
                        <h4 class="footer-header">Servizi Esclusivi</h4>

                        <ul>
                            <li><a href="{% url 'servizi' %}">Servizi Online Esclusivi</a></li>
                            <li><a href="{% url 'spedizione-resi-gratuiti' %}">Spedizione e resi gratuiti</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="footer-widget footer-left-widget">
                        <h4 class="footer-header">Possiamo Aiutarti?</h4>

                        <ul>
                            <li><a href="{% url 'domande-frequenti' %}">Domande Frequenti</a></li>
                            <li><a href="{% url 'contattaci' %}">Contattaci</a></li>
                            <li><a href="{% url 'pagamento' %}">Pagamento</a></li>
                            <li><a href="{% url 'spedizione' %}">Spedizione</a></li>
                            <li><a href="{% url 'resi-cambi' %}">Resi & Cambi</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="footer-widget footer-left-widget">
                        <h4 class="footer-header">Informazioni Aziendali</h4>
                        
                        <ul>
                            <li><a href="{% url 'attuality-store' %}">Attuality Store</a></li>
                            <li><a href="{% url 'privacy' %}">Privacy & Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 d-flex flex-column footer-logo-container align-items-center">
                    <img src="/static/assets/images/logo-white-transparent.png" alt="" class="footer-logo img-fluid" width="250">
                    <h4 class="text-left footer-header">SEGUICI</h4>

                    <div class="social-icons footer-icons d-flex justify-content-start">
                        <a href="https://www.facebook.com/Attuality.store" target="_blank">
                            <i class="fa fa-facebook" style="color: #fff;"></i>
                        </a>
                        <a href="https://www.instagram.com/attuality.store/" target="_blank">
                            <i class="fa fa-instagram" style="color: #fff;"></i>
                        </a>
                        <a href="https://www.tiktok.com/@attuality.store?lang=it-IT" target="_blank">
                            <i class="fab fa-tiktok" style="color: #fff;"></i>
                        </a>
                    </div>

                    <div class="contact-info text-white d-flex flex-column text-center mt-3">
                        <p class="text-white">attuality.store@gmail.com</p>
                        <p class="text-white">+39 389 5392915</p>
                    </div>
                </div>

                <div class="col-md-12 payment-icons container-lg row">
                    <div class="d-flex justify-content-end col-md-3">
                        <img src="/static/assets/images/visa.png" alt="Visa">
                        <img src="/static/assets/images/american-express.png" alt="American Express">
                        <img src="/static/assets/images/mastercard.png" alt="Maestro">
                        <img src="/static/assets/images/maestro.png" alt="Maestro">
                        <img src="/static/assets/images/paypal.png" alt="PayPal">
                    </div>
                </div>

            </div>
        </div>


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content d-flex flex-column align-items-center">
                            <p>Attuality Store</p>
                            <p>© 2022 P.Iva 15877431005 | Tutti i diritti riservati</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <a href="#mainSection">
                <button class="btn btn-dark top-btn" title="Back to Top" style="display: block;">
                    <i class="fa fa-angle-up"></i>
                </button>
            </a>

            <button class="btn btn-dark live-chat" title="Live Chat" style="display: block;">
                <img src="/static/assets/images/live-chat.png" alt="Live Chat Icon" width="20" class="img-fluid">
            </button>
        </div>
        <!-- End Back to top -->
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/static/assets/js/custom.js"></script>
    <script src="/static/assets/js/owl.js"></script>
    <script src="/static/assets/js/slick.js"></script>
    <script src="/static/assets/js/isotope.js"></script>
    <script src="/static/assets/js/accordions.js"></script>

    <script src="https://kit.fontawesome.com/8f8a8c35a9.js" crossorigin="anonymous"></script>

    <script>
        $('.owl-carousel.brands').owlCarousel({
            rtl: false,
            loop: true,
            pagination: false,
            dots: false,
            margin: 0,
            autoplay: 1500,
            autoplayTimeout: 2500,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })

        $('.owl-carousel.announcements').owlCarousel({
            loop: true,
            items: 1,
            touchDrag: false,
            mouseDrag: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: false,
        })
    </script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>

    <script>
    </script>


</body>

</html>