@font-face {
    font-family: Futura;
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e410.woff2?&hmac=6a56d51fc32d698d069bcec7f4cb537efbe7b6e5940d1e9fc4d0a71d2b552fc4") format("woff2"),
        url("https://fonts.shopifycdn.com/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec.woff?&hmac=0103d4b4c242038a4673909d15ddc0fe2f54962088997a60bd7f07bfc9266a4f") format("woff");
}

@font-face {
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    src: url("/static/assets/fonts/Proxima Nova Font.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
html,
body {
    font-family: 'proxima-nova', sans-serif;
}

i.fa {
    font-family: 'FontAwesome', sans-serif !important;
}

.btn-transparent {
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 0;
}

.btn-transparent:hover {
    background-color: #fff;
    color: #000;
}

.text-content .section-heading {
    border-bottom: none;
    margin-bottom: 0;
}

.navbar-brand div.social-icons a {
    margin: 0 10px;
    display: inline;
}

.navbar-brand img {
    margin-right: 50px;
}

.brand-content {
    width: 50% !important;
}

.announcements-container {
    height: 42px;
    background-color: #fff;
    color: #000;
}

.announcements p {
    font-weight: 500;
    color: #000;
}

.announcements p span {
    white-space: pre;
}

.announcements p span em {
    color: #000;
    font-style: normal;
}

.navbar-brand img.logo {
    width: 175px;
}

a.announcement-link {
    color: #000;
    text-decoration: underline !important;
}

a.announcement-link:hover {
    font-weight: 600;
}

.footer-text {
    text-align: center;
    font-weight: 500;
}

/* PRODUCT CARD STYLES - START */
.products {
    background-color: #e7e7e7;
}

.product {
    background-color: #E7E7E7;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
}

.col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

.product img {
    width: 100%;
}

.product .card-header {
    padding: 0;
    border-bottom: none;
}

.product .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .card-body .card-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
}

.product .card-body .price {
    text-align: center;
    font-size: 18px;
    color: #f33f3f;
}

.product .card-body .price .discounted-price {
    margin-left: 15px;
    text-decoration: line-through;
    color: #000;
}

.product .card-body .card-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.product .card-footer {
    border: none;
    background-color: #E7E7E7;
}

.product .card-footer .sizes {
    visibility: hidden;
}

.product:hover .card-footer .sizes {
    visibility: visible;
}

.product .card-footer .sizes .size {
    margin: auto 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
    min-width: 30px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.product .card-footer .sizes .size:hover {
    cursor: pointer;
    border: 1px solid #000;
    background-color: transparent;
}

.product .card-footer .sizes .size:focus {
    border: 1px solid #000;
    -webkit-box-shadow: 0 0 10px #68a8e0;
    box-shadow: 0 0 10px #68a8e0;
    outline: 0;
}

@media screen and (max-width: 1672px) {
}

/* PRODUCT CARD STYLES - END */

/* BRAND STYLES - START */
.best-features-header {
    padding-top: 20px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
}

.best-features-header h2 {
    font-weight: 700;
}

.best-features-header h2 em {
    color: #f33f3f;
    font-style: normal;
}

.test_box {
    padding: 0;
}

.test_box .inner {
    background: #333;
    display: block;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.test_box .inner .test_click {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    mix-blend-mode: normal;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.test_box .inner .test_click:hover {
    background-color: rgba(0, 100, 255, .5);
    mix-blend-mode: hard-light;
}

.flex_this {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: inherit;
    flex-wrap: inherit;
    height: auto;
    margin: 0;
    padding: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;

}

.test_box .inner .test_click:hover .flex_this {
    margin-top: -5px;
}

.test_title {
    display: block;
    font-weight: 700;
    margin: 0 0 20px;
    width: 100%;
}

.test_link {
    border: 2px solid #fff;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 auto;
    padding: 10px 30px;
    text-transform: uppercase;
}

.box-01 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1033');
}

.box-02 .inner {
    background-image: url('https://picsum.photos/1024/768?image=967');
}

.box-03 .inner {
    background-image: url('https://picsum.photos/1024/768?image=924');
}

.box-04 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1073');
}

.box-05 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1032');
}

.box-06 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1080');
}

.box-07 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1012');
}

.box-08 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1070');
}

.box-09 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1079');
}

.box-10 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1053');
}

.box-11 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1056');
}

.box-12 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1057');
}

/* BRAND STYLES - END */


/* FOOTER STYLES - START */

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #f33f3f;
}

.footer-widget p {
    margin-bottom: 27px;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
}

.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #f33f3f;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 24px 24px 24px 17px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #f33f3f;
    background: #f33f3f;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================
  
      Contact
  
  =============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
}

.copyright div.content,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: #f33f3f;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.back-to-top {
    position: relative;
    z-index: 2;
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #f33f3f;
    border-color: #f33f3f;
}

/* FOOTER STYLES - END */