@font-face {
    font-family: Futura;
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e410.woff2?&hmac=6a56d51fc32d698d069bcec7f4cb537efbe7b6e5940d1e9fc4d0a71d2b552fc4") format("woff2"),
        url("https://fonts.shopifycdn.com/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec.woff?&hmac=0103d4b4c242038a4673909d15ddc0fe2f54962088997a60bd7f07bfc9266a4f") format("woff");
}

.brand-content {
    width: 50% !important;
}

.announcements-container {
    height: 42px;
    background-color: #fff;
    color: #000;
}

.announcements p {
    font-weight: 500;
    text-decoration: underline;
}

.navbar-brand img.logo {
    width: 175px;
}

/* PRODUCT CARD STYLES - START */
.flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-wrapper {
    height: 100%;
    display: table;
}

.page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
}

.el-wrapper {
    width: 360px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
}

@media (max-width: 991px) {
    .el-wrapper {
        width: 345px;
    }
}

@media (max-width: 767px) {
    .el-wrapper {
        width: 290px;
        margin: 30px auto;
    }
}

.el-wrapper:hover .h-bg {
    left: 0px;
}

.el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
}

.el-wrapper .price .discounted-price {
    text-decoration: line-through;
    color: #0976B4;
    transition: all 1s ease-in-out;
}

.el-wrapper:hover .price .discounted-price {
    opacity: 0;
    display: none;
}

.el-wrapper:hover .add-to-cart {
    left: 50%;
}

.el-wrapper:hover .img {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
}

.el-wrapper:hover .info-inner {
    bottom: 155px;
}

.el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
}

.el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.el-wrapper .img {
    height: 100%;
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
}

.h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #3f96cd;
    position: absolute;
    left: -659px;
}

.h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #464646;
}

.info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 5px;
}

.info-inner .p-name,
.info-inner .p-company {
    display: block;
}

.info-inner .p-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #252525;
}

.info-inner .p-company {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #8c8c8c;
}

.a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
}

.a-size .size {
    color: #252525;
}

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
}

.cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
}

/* PRODUCT CARD STYLES - END */

/* BRAND STYLES - START */
.best-features-header {
    padding-top: 20px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
}

.best-features-header h2 {
    font-weight: 700;
}

.best-features-header h2 em {
    color: #f33f3f;
    font-style: normal;
}

.test_box {
    padding: 0;
}

.test_box .inner {
    background: #333;
    display: block;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.test_box .inner .test_click {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    mix-blend-mode: normal;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.test_box .inner .test_click:hover {
    background-color: rgba(0, 100, 255, .5);
    mix-blend-mode: hard-light;
}

.flex_this {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: inherit;
    flex-wrap: inherit;
    height: auto;
    margin: 0;
    padding: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;

}

.test_box .inner .test_click:hover .flex_this {
    margin-top: -5px;
}

.test_title {
    display: block;
    font-weight: 700;
    margin: 0 0 20px;
    width: 100%;
}

.test_link {
    border: 2px solid #fff;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 auto;
    padding: 10px 30px;
    text-transform: uppercase;
}

.box-01 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1033');
}

.box-02 .inner {
    background-image: url('https://picsum.photos/1024/768?image=967');
}

.box-03 .inner {
    background-image: url('https://picsum.photos/1024/768?image=924');
}

.box-04 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1073');
}

.box-05 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1032');
}

.box-06 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1080');
}

.box-07 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1012');
}

.box-08 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1070');
}

.box-09 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1079');
}

.box-10 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1053');
}

.box-11 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1056');
}

.box-12 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1057');
}

/* BRAND STYLES - END */


/* FOOTER STYLES - START */

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #f33f3f;
}

.footer-widget p {
    margin-bottom: 27px;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
}

.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #f33f3f;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 24px 24px 24px 17px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #f33f3f;
    background: #f33f3f;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================
  
      Contact
  
  =============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: #f33f3f;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.back-to-top {
    position: relative;
    z-index: 2;
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #f33f3f;
    border-color: #f33f3f;
}

/* FOOTER STYLES - END */