{% extends 'base.html' %}
{% block content %}
<section class="page-heading container">
    <p class="footer-text">
        Un brand influente e progressista che ha come obiettivo principale quello di offrire un servizio di ultima
        generazione.
        <br>
        Attuality Store nasce a Roma, con lo scopo di rivoluzionare completamente l'approccio al lusso, ecco perché:
        <br><br>
    
        Garantiamo un servizio esclusivo curato nei minimi dettagli;
        Abbiamo scelto una modalità d'acquisto più semplice ed immediata grazie all'assistenza 24/7 in chat live;
        Selezioniamo i capi più esclusivi di alta moda.
        Tutti i nostri prodotti luxury sono in esposizione nel nostro Show-Room di oltre 100 mq e ad oggi possediamo
        migliaia di clienti italiani ed esteri, proprio per espandere la nostra brand vision.
        <br><br>
    
        Il nostro obiettivo è quello di soddisfare i nostri clienti sotto tutti i punti di vista, proprio perché siamo
        grandi amanti del lusso, vogliamo che il nostro servizio sia di alto livello.
    </p>
</section>

{% endblock content %}