{% extends 'base.html' %}
{% block content %}
<section class="page-heading container">
    <p class="footer-text">
        Hai qualche dubbio?
        <br><br>
        Affidati al nostro supporto, siamo sempre qui a tua disposizione: risolveremo i tuoi problemi nella maniera più
        semplice e veloce.
        <br><br>
        Scegli tu in che modo contattarci:
        <br><br>
        Attuality.store@gmail.com
        <br>
        Attuality.store@gmail.com
        <br><br>

        Support Live Chat
        <br>

        +39 389 5392915
    </p>
</section>

{% endblock content %}