{% extends 'base.html' %}
{% block content %}
<section class="page-heading container">
    <p class="footer-text">
        Da sempre abbiamo l'obiettivo di facilitare e fornire il massimo della sicurezza d’acquisto dei nostri clienti.
        Avrai anche a disposizione tutte le modalità di pagamento.
        Sarai tu a scegliere la modalità per te più adatta alle tue esigenze:
        <br><br>

        Visa
        <br><br>
        PayPal
        <br><br>
        Apple Pay
        <br><br>
        Mastercard
        <br><br>
        American Express
        <br><br>
        In alternativa potrai scegliere di pagare direttamente alla consegna, senza alcun costo aggiuntivo.
    </p>
</section>

{% endblock content %}