{% extends 'base.html' %}
{% block content %}
<section class="page-heading container">
    <p class="footer-text">
        La presente Informativa sulla privacy descrive come le vostre informazioni personali vengono raccolte,
        utilizzate e condivise quando visitate o effettuate un acquisto su www.attualitystore.com.
        <br><br><br>

        INFORMAZIONI PERSONALI CHE COLLEZIONIAMO
        <br><br>

        Quando visiti il ​​Sito, raccogliamo automaticamente alcune informazioni sul tuo dispositivo, incluse
        informazioni sul tuo browser web, indirizzo IP, fuso orario e alcuni dei cookie installati sul tuo dispositivo.
        Inoltre, mentre navighi sul Sito, raccogliamo informazioni sulle singole pagine web o sui prodotti che
        visualizzi, su quali siti web o termini di ricerca ti hanno indirizzato al Sito e su come interagisci con il
        Sito. Ci riferiamo a queste informazioni raccolte automaticamente come "Informazioni sul dispositivo".
        <br><br>

        Raccogliamo informazioni sui dispositivi utilizzando le seguenti tecnologie:
        <br><br>
        
        - I "cookie" sono file di dati che vengono inseriti sul dispositivo o sul computer e spesso includono un
        identificatore univoco anonimo. Per ulteriori informazioni sui cookie e su come disabilitare i cookie, visitare
        http://www.allaboutcookies.org.
    </p>
</section>

{% endblock content %}