{% extends 'base.html' %}
{% block content %}
<section class="page-heading container">
    <p class="footer-text">
        Da sempre rispettiamo i nostri prodotti, proprio per questo motivo curiamo minuziosamente ogni capo:
        Dal momento in cui viene ordinato dai nostri clienti fino alla sua spedizione.
        <br><br>
        Il nostro Brand Luxury rispecchia una cura estrema di ogni singolo dettaglio, ecco perché:
        <br><br>
        Ogni nostro articolo viene controllato minuziosamente prima della sua spedizione.
        Stiriamo i nostri capi con la massima cura prima della consegna.
        Impacchettiamo accuratamente ogni singolo ordine prima che venga spedito.
    </p>
</section>

{% endblock content %}