{% extends 'base.html' %}
{% block content %}
<section class="page-heading container">
    <p class="footer-text">
        Un aspetto fondamentale per noi di Attuality Store è la modalità di spedizione.
        Come lo facciamo?
        <br>
        Operiamo con DHL, una delle compagnie di spedizioni più sicure ed efficaci utilizzata a livello internazionale.
        <br><br>
        Per le spedizioni sul territorio nazionale si impiega un tempo di consegna di 24/48 ore, mentre per le
        spedizioni internazionali 3/4 giorni lavorativi. (Le tempistiche potrebbero variare sia in base alle emergenze
        Covid-19 di questo periodo che per l’afflusso di acquisti dal nostro negozio.)
        <br><br>
        Il pacco potrà essere monitorato in qualsiasi momento tramite il sito ufficiale di DHL. clicca qui
        <br><br>
        Non appena il corriere starà per consegnare l’ordine riceverai una chiamata di preavviso.
    </p>
</section>

{% endblock content %}